@font-face {
    font-family: font;
    src: url(GeliatExtralight-6YLRq.otf);
}
body {
  font-family: font;
  background: linear-gradient(to bottom, #333333, #000000);
  color: #ffffff;
  padding: 20px;
}

.section-title {
  font-weight: bold;
  margin-top: 20px;
}

a{
    color:#ffffff;
}
.contact-info {
  margin-top: 10px;
}

.job-title {
  font-weight: bold;
  margin-top: 15px;
}

.job-dates {
  font-style: italic;
  margin-bottom: 5px;
}

.job-description {
  margin-bottom: 15px;
}

.education {
  margin-top: 15px;
}

.awards {
  margin-top: 15px;
}

.resume-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.social-link {
  color: #ffffff;
  margin: 5px;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}